.ltl-footer-text {
    font-size: 13px;
    color: #aaa;
    text-align: justify;
    padding-right: 5%;
}

.footer-main {
	background-color:#333334;
}

.sign-up-button-hp, .forminput_button, .donation-button, .community-button, .sign-up-developers, #wpPreview, #wpDiff, #wpSave, .site-button, .multipleTemplateAdder {
	background:#e51234;
}

.sign-up-button-hp:hover, .forminput_button:hover, .donation-button:hover, .community-button:hover, .sign-up-developers:hover,
#wpPreview:hover, #wpDiff:hover, #wpSave:hover, .site-button:hover, .multipleTemplateAdder:hover {
	background:#d31130;
}

.ltl-footer-link {
	margin-left:5px;
}

.footer-credits a, .footer-credits a:visited {
	color:#e51234;
}

.wf-top-button .btn {
    background-color: #444;
    border: 1px solid #444;
    color: #fff;
    background-image: none;
}

.ltl-footer-link a {
	color: #ccc;
}

.ltl-footer-link a:hover {
	color: #fff;
}

.wf-top-button .btn:hover {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    background-image: none;
}

.contribute-block:hover {
	background-color: #363636;
	border-color: #363636;
}

@media screen and (max-width: 640px) {
	.ltl-footer-text {
	    padding-right: 0;
	}
}

.group-machine-image img{
	width: 100%;
	height: 100%;
    border: 1px solid #F1F1F1;
}
